body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
}

main {
    width: 970px;
    margin: 0 auto;
}

p, div, button, #logo-prefeitura {
    margin-left: 10px;
}

h1, h2 {
    margin: 5vh 10px;
}

h1 {
    text-shadow: 3px 3px 3px grey;
}

h3 {
    margin-left: 0.5em;
}

p {
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 60vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: linear-gradient(0deg, #61A6CD 0%, rgba(217, 217, 217, 0) 99.98%, rgba(217, 217, 217, 0) 99.99%);
    margin-top: auto;
}

.link-p {
    background: url("../img/icons/link_externo.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

p > a:hover {
    color: green;
}

/* elementos reutilizáveis */
.footer-container {
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

.container-widget {
    max-height: 5vh;
}

.logo-cabecalho {
    height: 5em;
}

.menu-principal {
    display: flex;
    align-items: center;
    background-color: #61A6CD;
    margin: 0;
    list-style-type: none;
}

.logo-menu {
    margin-right: auto;
}

.menu-principal > li > a  {
    padding: 2em 1em;
    text-decoration: none;
    color: black;
}

.menu-principal > li > a:hover {
    background-color: cadetblue;
}