/* configurações gerais */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    /* background: linear-gradient(180deg, #61A6CD 0%, rgba(217, 217, 217, 0) 99.98%, rgba(217, 217, 217, 0) 99.99%); */
    font-family: 'Roboto', sans-serif;
}

main {
    width: 970px;
    margin: 0 auto;
}

h1, h2, p, div, button, #logo-prefeitura {
    margin-left: 10px;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    text-shadow: 3px 3px 3px grey;
}

p {
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 60vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: linear-gradient(0deg, #61A6CD 0%, rgba(217, 217, 217, 0) 99.98%, rgba(217, 217, 217, 0) 99.99%);
}

.link-p {
    background: url("images/icons/link_externo.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

/* elementos reutilizáveis */
.footer-container {
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

.container-widget {
    max-height: 5vh;
}

.menu-principal {
    display: flex;
    justify-content: flex-end;
    background: #61A6CD url('images/icons/zoo.png');
    background-position-x: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.menu-link {
    padding: 3em 1em;
    text-decoration: none;
    color: black;
}